{% extends 'base.html' %}

{% load directory_utils %}

{% block content %}
    {% block filter_form %}
        <div class="filter-container">
            <form method="get">
                {{ filter.form.as_p }}
                <input class="btn btn-filter-submit" type="submit">
            </form>
        </div>
    {% endblock %}

    {% block table %}
        <table class="table filter-results">
        {% if display_headings %}
            <tr>
                {% for heading in field_headings %}
                    <th>{{ heading }}</th>
                {% endfor %}
            </tr>
        {% endif %}
        {% for object in object_list %}
        <tr>
            {% for field_name in field_names %}
                <td>
                    <div class='directory-cell-content'>
                    {% if link_on_field == field_name %}
                        <a href="{{ object.get_absolute_url }}">{{ object|getattr:field_name }}</a>
                    {% else %}
                        {{ object|getattr:field_name }}
                    {% endif %}
                    </div>
                </td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            <td><p>No items.</p></td>
        </tr>
        {% endfor %}
        </table>
    {% endblock %}

    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination-container">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}&{{ filter_query_string }}">&#171;</a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">&#171;</a>
                        </li>
                    {% endif %}

                    {% for label in page_obj|get_selectable_pages:1 %}
                        <li {% if page_obj.number == label %}class="active"{% endif %}>
                            {% if not label %}
                                <span class="break"></span>
                            {% else %}
                                <a href="{{ request.path }}?page={{ label }}&{{ filter_query_string }}">{{ label }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}&{{ filter_query_string }}">&#187;</a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <a href="#">&#187;</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
